<h1>{{title}}</h1>


<!-- html 引用一個 app > app 引用一個 interface (我稱呼它為object) -->
<!-- 原本這裡是一開始就引用一個英雄們的 -->
<!-- <app-heroes></app-heroes> -->

<!-- step 14 replace upper to lower -->
<nav>
  <a routerLink="/step1">Step1(value)</a>
  <a routerLink="/step2">Step2(module)</a>
  <a routerLink="/step3">Step3(pipe)</a>
  <a routerLink="/step4">Step4(binding)</a>
  <a routerLink="/step5">Step5(*ngFor)</a>
  <a routerLink="/step6">Step6(style)</a>
  <a routerLink="/step7">Step7(onclick&class)</a>
  <a routerLink="/step8">Step8(*ngIf)</a>
  <a routerLink="/step9">Step9(child)</a>
  <a routerLink="/step10">Step10([sync]service)</a>
  <a routerLink="/step11">Step11([async]service)</a>
  <a routerLink="/step12">Step12(message+service)</a>
  <a routerLink="/dashboard">Dashboard(Final)</a>
  <a routerLink="/heroes">Heroes(Final)</a>
</nav>

<!-- 顯示出被路由轉到的內容 -->
<router-outlet></router-outlet>

<!-- step 12 -->
<app-messages></app-messages>
