<!-- 提交了就不顯示啦~ -->
<div [hidden]="submitted">
  <h1>Hero Form</h1>
<!-- app.module.ts 裡 import 了就可以用 -->
<!-- button 是預設回到「後端」，重整網頁的東東，所以是會觸發 ngForm 的 ngSubmit 的 (故不用寫到 button 上) -->
<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
<!--  #heroForm="ngForm" 繫結 heroForm 的屬性 ngForm上
      Submit 按鈕的 [disabled] 才可以利用 "!heroForm.form.valid" 的屬性 -->
    <button type="submit" 
            class="btn btn-success" 
            [disabled]="!heroForm.form.valid">Submit</button>

    <!-- <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button> -->
    <!-- 上下的對比，在於reset()，避免因為該輸入框不再是原始狀態，而出現錯誤訊息。(heroForm.是這個Component的名稱) -->
    <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
    
    <!-- 透過表單頂部的診斷行可以確認所有的更改都已反映在模型中。 
    {{ model | json }}
    -->

    <div class="form-group">
        <label for="name">Hero Name</label>
        <!-- 每個 <input> 元素都有一個 id 屬性。<label> 元素的 for 屬性用它來把標籤匹配到輸入控制元件。 -->
        <input type="text" class="form-control" id="name"
            required
            [(ngModel)]="model.name" name="name" 
            #name="ngModel"> <!-- <- 這個是為了給下方的錯誤訊息div來綁定！This property tells Angular how to link a reference variable to a directive.-->
        <div [hidden]="name.valid || name.pristine" 
            class="alert alert-danger">
            <!--  原始表示該使用者在此表單中顯示的值尚未更改過。如果你忽略了 pristine 狀態，那麼只有當值有效時才會隱藏這些訊息。 -->
        Name is required
        </div>

        <!-- 這個東東，只是用來看看 ngModel 有沒有把值雙向地繫結上︰
            <p>TODO: remove this: {{model.name}}</p> 
        -->
        <!-- 
            在元素上使用 [(ngModel)] 時，必須為該元素定義一個 name 屬性。
            Angular 會用這個指定的名字來把這個元素註冊到父 <form> 元素上的 NgForm 指令中。
         -->
    </div>

    <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text"  class="form-control" id="alterEgo"
                [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>

    <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control"  id="power"
                required
                [(ngModel)]="model.power" name="power" #power="ngModel">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" 
            class="alert alert-danger">
        Power is required
        </div>
    </div>
    <br/>

</form>
</div>
<!-- 提交了才顯示的地方… -->
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9">{{ model.alterEgo }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9">{{ model.power }}</div>
  </div>
  <br>
  <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>