<!-- step 1 string -->
<!-- <h2>{{hero}}</h2> -->

<!-- step 2 object -->
<!-- <h2>{{hero.name}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->

<!-- step 3 Pipes -->
<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->
<!-- 管道 是格式化字串、金額、日期和其它顯示資料的好辦法。
    Angular 發佈了一些內建管道，而且你還可以建立自己的管道。 -->

<!-- step 4 Two-way binding -->
<!-- (The missing FormsModule) => app.module.ts -->

<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->


<!-- step 5 use Mock data and *ngFor -->
<!-- <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button type="button">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul> -->

<!-- step 6 change of style ( look at -> heroes.component.ts ) -->

<!-- step 7 onclick -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">

      <!-- <button  [class.selected]="hero === selectedHero" 
             type="button" 
             (click)="onSelect(hero)"
      > 
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>

      </button>
      -->
      
      <!-- 進入 routing 後，不用 button 改為 a -->
      <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>

      <button type="button" class="delete" title="delete hero"
       (click)="delete(hero)">x</button>

  </li>
</ul>
<!-- step 8 *ngIf -->
<!-- <div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div> -->

<!-- step 9 (look at step 7) class.selected attribute -->

<!-- step 14 時，封鎖這段，因改用 routing 來跳到 detail 頁 -->
<!-- step 10 (cut step 8 to hero-detail.component.html) and link to it-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<!-- 這個值，會在按下按鈕時，傳入 app-hero-detail ，然後會出現在這一頁的下方-->
<!-- hero-detail.component收值的方法，要見hero-detail.component.ts -->

<!-- step 11 新增服務 Service 來專門存取資料-->
<!-- 同步取資料 -->

<!-- step 12 新增 Observable of  -->
<!-- 非同步取資料 (會等待) -->

<!-- step 13 MessagesComponent -->
<!-- 它在螢幕的底部顯示應用中的訊息。 -->
<!-- 加了一個 Message 的 component 和 service -->
<!-- MessageService 中，有訊息的處理方法(Add Clear)。 -->
<!-- 在 HeroService 引入和操作 MessageService -->
<!-- Message component 中，引用 Message service，作顯示和使用者操作 -->

<!-- step 14 Routing 和分頁 -->

<!-- step 15 Http Service -->
<!-- 建立一個假的 Http的Web API 來提供資料 (模擬資料庫的伺服器和這個專案進行交流) -->

<!-- 15.5 增刪修改… -->
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<!-- Step 16 根據名字搜尋 -->
<!-- 在最後一次練習中，你要學到把 Observable 的運算子串在一起，
     讓你能將相似 HTTP 請求的數量最小化，並節省網路頻寬。 
     當用戶在dashboard搜尋框中輸入名字時，會不斷過濾英雄的 HTTP 請求。
     目標是僅僅發出儘可能少的必要請求。-->