<!-- step 1 string -->
<!-- <h2>{{hero}}</h2> -->

<!-- step 2 object -->
<!-- <h2>{{hero.name}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->

<!-- step 3 Pipes -->
<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->
<!-- 管道 是格式化字串、金額、日期和其它顯示資料的好辦法。
    Angular 發佈了一些內建管道，而且你還可以建立自己的管道。 -->

<!-- step 4 Two-way binding -->
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
<!-- (The missing FormsModule) => app.module.ts -->
