<!-- step 7 onclick -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">

    <!-- [class.selected] 是什麼︰ -->
    <!-- if it results in true, then the selected css class will be applied to the element  -->
    <!-- 同樣效果的寫法︰[ngClass]="{'selected': atype === selectedType}" -->

    <button  [class.selected]="hero === selectedHero" 
           type="button" 
           (click)="onSelect(hero)"
    > 
    <span class="badge">{{hero.id}}</span>
    <span class="name">{{hero.name}}</span>
    </button>
     
      
  </li>
</ul>
<!-- step 8 *ngIf -->
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>